# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.GMD Project.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\simov\GMD Project\.idea\.idea.GMD Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
